@keyframes rotatecw {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateccw {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

body {
    background-image: url("../imgs/PokeDex.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;
    .links {
        color: azure;
        margin: 0 auto;
        width: 40em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        pokemon {
            box-shadow: 0.3em 0.3em 0 0 white, inset 0.3em 0.3em 0 0 white;
            cursor: url('../imgs/cursor.png'), auto;
        }
        pokemon:hover,
        pokemon:focus {
            color: red;
            box-shadow: 0 0 0 0 white, inset 6em 3.5em 0 0 white;
        }
    }
    #pokemon {
        box-shadow: 3em 0.8em 2em #000, 0.9em 1em 1em rgba(255, 255, 255, 0.747);
        border-radius: 6rem;
        color: azure;
        background: rgba(0, 0, 0, 0.678);
        width: 55%;
        height: 32em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .pokemon_img {
            width: 10em;
            height: 11em;
            img {
                width: 10em;
                height: 11em;
            }
        }
        .pokemon_top {
            width: 28em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 20px;
        }
        .pokemon_abilities {
            margin-bottom: 10px;
        }
        .pokemon_weight {
            margin-bottom: 7px;
        }
        .pokemon_height {
            margin-bottom: 10px;
        }
        .pokemon_types {
            margin-bottom: 20px;
        }
        .pokemon_stats {
            width: 45em;
            display: flex;
            align-items: stretch;
            flex-direction: row;
            justify-content: space-evenly;
            .pokemon_stat {
                display: flex;
                align-items: stretch;
                justify-content: space-evenly;
                flex-direction: column-reverse;
                .pokemon_stat_info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
    }
}